<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success" role="alert">
              <strong>{{ message }}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}
  <div class="modal-content">
      <div class="modal-body">
    {% block content %}
    {% endblock %}
      </div>
      <div class="modal-footer">
          <div class="col-md-1accordion2">
    	  </div>
      </div>
  </div>
  </div>
</div>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
