{% extends 'base.html' %}
{% block content %}
  <nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
      {% for cat in category %}
        <li class="breadcrumb-item active" aria-current="page">{{ cat }}</li>
      {% endfor %}
    </ol>
  </nav>
  {% if not products %}
    <h3 class="center-block">Нет товаров</h3>
  {% endif %}
  {% for product in products %}
    <div class="col-md-4">
      <section class="panel">
        <div class="pro-img-box">
          <img src="{{ product.image.url }}"/>
          <a href="#" class="adtocart">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </div>

        <div class="panel-body text-center">
          <h4>
            <a href="{% url 'product_detail' pk=product.id %}" class="pro-title">
              {{ product.name }}
            </a>
          </h4>
          <p class="price">{{ product.price }} сом</p>
        </div>
      </section>
    </div>
  {% endfor %}
{% endblock content %}