{% extends 'base.html' %}
{% block content %}
  {% for product in products %}
    <div class="col-md-4">
      <section class="panel">
        <div class="pro-img-box">
          <img src="{{ product.image.url }}" alt=""/>
          <a href="#" class="adtocart">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </div>

        <div class="panel-body text-center">
          <h4>
            <a href="{% url 'product_detail' pk=product.id %}" class="pro-title">
              {{ product.name }}
            </a>
          </h4>
          <p class="price">{{ product.price }} сом</p>
        </div>
      </section>
    </div>
  {% endfor %}
{% endblock content %}